In [1]:
import pandas as pd

In [2]:
ser = pd.Series([23,56,44,32,10,100,46,89,91])
ser

0     23
1     56
2     44
3     32
4     10
5    100
6     46
7     89
8     91
dtype: int64

In [3]:
ser > 50

0    False
1     True
2    False
3    False
4    False
5     True
6    False
7     True
8     True
dtype: bool

In [4]:
ser[ser > 50]

1     56
5    100
7     89
8     91
dtype: int64

In [5]:
ser[(ser > 30) & (ser < 70)]

1    56
2    44
3    32
6    46
dtype: int64

In [6]:
# between 
ser[ser.between(32,70,inclusive = 'both')] # 'both','neither','left','right', ## 30 and 70 both included in output

1    56
2    44
3    32
6    46
dtype: int64

In [7]:
ser[ser.between(32,70,inclusive = 'neither')] # 30 and 70 not included in output

1    56
2    44
6    46
dtype: int64

In [8]:
ser[ser.between(32,70,inclusive = 'right')] # 70 not included in output

1    56
2    44
6    46
dtype: int64

In [9]:
ser[ser == 46]

6    46
dtype: int64

In [10]:
# isin() function 
ser[ser.isin([46])]

6    46
dtype: int64

In [12]:
# dictionary series
serd = pd.Series({'Name':'Mehak',
                 'Class':'B.Tech',
                  'Rollno': 45,
                 'Age': 20,})
serd

Name       Mehak
Class     B.Tech
Rollno        45
Age           20
dtype: object

In [13]:
serd['Name']

'Mehak'

In [14]:
serd['Class']

'B.Tech'

In [15]:
serd.Age

20

In [16]:
serd = pd.Series({'Name':'Mehak',
                 'Class':'B.Tech',
                  'Rollno': 45,
                 'Age': 20,}, index = ['Name','Rollno','Age'])
serd

Name      Mehak
Rollno       45
Age          20
dtype: object

In [17]:
serd = pd.Series({'Name':'Mehak',
                 'Class':'B.Tech',
                  'Rollno': 45,
                 'Age': 20,}, index = ['Name','Rollno','Age','Mehak','Hey'])
serd

Name      Mehak
Rollno       45
Age          20
Mehak       NaN
Hey         NaN
dtype: object

## Series sum ,max, min, average(mean), median:

In [18]:
ser

0     23
1     56
2     44
3     32
4     10
5    100
6     46
7     89
8     91
dtype: int64

In [19]:
ser.sum()

491

In [20]:
ser.min()

10

In [21]:
ser.max()

100

In [22]:
ser.mean()

54.55555555555556

In [25]:
ser.median()

46.0

In [27]:
ser.mode() # ascending order

0     10
1     23
2     32
3     44
4     46
5     56
6     89
7     91
8    100
dtype: int64

In [28]:
ser.std()

32.12518914773542

In [29]:
ser

0     23
1     56
2     44
3     32
4     10
5    100
6     46
7     89
8     91
dtype: int64

In [30]:
ser.idxmax()

5

In [31]:
ser.idxmin()

4

In [32]:
# Series null values- NaN values not a number values 
ser1 = pd.Series([45,None,10,None,15,14, None,99,100])
ser1

0     45.0
1      NaN
2     10.0
3      NaN
4     15.0
5     14.0
6      NaN
7     99.0
8    100.0
dtype: float64

In [33]:
ser1.isnull()

0    False
1     True
2    False
3     True
4    False
5    False
6     True
7    False
8    False
dtype: bool

In [34]:
ser1[ser1.isnull()]

1   NaN
3   NaN
6   NaN
dtype: float64

In [35]:
ser1[ser1.isna()]

1   NaN
3   NaN
6   NaN
dtype: float64

### Ser1.dropna, inplace = True

In [36]:
ser1

0     45.0
1      NaN
2     10.0
3      NaN
4     15.0
5     14.0
6      NaN
7     99.0
8    100.0
dtype: float64

In [37]:
ser1.isnull().sum()

3

In [38]:
ser1.sum()

283.0

In [39]:
ser1.hasnans # Return True if there are any NaNs.

True

In [40]:
# ser1.fillna(ser1.mean(),inplace = True)
ser1.fillna(45, inplace = True)

In [41]:
ser1

0     45.0
1     45.0
2     10.0
3     45.0
4     15.0
5     14.0
6     45.0
7     99.0
8    100.0
dtype: float64